<div class="container mt-5">
    <div class="row">
    <div class="col-md-8 offset-md-2">
        <br>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Login</h5>
                <form class="col-md-12" >
                    <div class="row justify-content-center">
                        <div class="col col-md-7 mt-3">
                            <label for="username">Username</label>
                            <input type="string" class="form-control" placeholder="Username" name="username">  
                        </div>
                        <br>
                        <div class="col col-md-7 mt-3">
                            <label for="Password">Password</label>
                            <input type="password" class="form-control" placeholder="Password" name="Password">
                        </div>
                    </div>
                    <br>
                    <div class="row justify-content-center">
                        <a href="#" class="btn btn-primary text-center">Submit</a>
                    </div>
                </form>
              </div>
        </div>
    </div>
</div>
</div>