<div class="container">
  <h1 class="display-3" id="slogan">Types of Tutoring</h1>

<label id="tutoring-type-label">Please Select Type of Tutoring You Need:</label>
<mat-radio-group
  aria-labelledby="tutoring-type-label"
  class="tutoring-type"
  [(ngModel)]="tutoringtype">

  <mat-radio-button class="radio-button"
  *ngFor="let tutoringType of tutoringTypes"
  [value]="tutoringType.id">
    {{tutoringType.value}}
  </mat-radio-button>
</mat-radio-group>

<!-- <div>The Type of Tutoring You Need is: {{tutoringType}}</div> -->

<br><br>
<button (click)="updateStudent()" class="btn btn-primary">
  Update
</button>

</div>


