<div class="container" id="blurb">
  <h1 class="text-center">What we do best</h1>
  <br>
  <h2>For Students</h2>
  <h4>Never worry about scheduling problems, or going over budget again</h4>
  <p>We match you up with tutors that best suit your needs, budget, and availability. You can pick who you would like
    to be tutored by, and are able to start as soon as they confirm.</p>
  <h4>Make sure your voice is heard</h4>
  <p>Leave reviews of tutors and let others know how much they helped you.</p>
  <h4>Scheduling done easy</h4>
  <p>Schedule appointments when you need them with ease, with our built-in booking feature. </p>
  <h4>Never forget your appointments, with a little help from us</h4>
  <p>We send you reminders of your appointments one hour before they
    start.</p>
  <br>
  <a class="nav-link" routerLink="/register-student" routerLinkActive="active">Register</a>
  <hr>
  <br>
  <h2>For Tutors</h2>
  <br>
  <h4>You determine your price</h4>
  <p>Choose how much you want to offer your services for. You keep 100% of your earnings.</p>
  <h4>You determine your schedule</h4>
  <p>We make it easy for you to tell students what days and times you're available.</p>
  <h4>Feedback is essential</h4>
  <p>Leave reviews of students that you teach, and let them know how much progress they've made</p>
  <h4>Offer discounts (if you want)</h4>
  <p>We make it easy to offer discounts to students anytime you want.</p>
</div>