<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="container" id="blurb">
  <h1 class="text-center">Built by students, for students</h1>
  <br>
  <h4>What's KAFTA Project?</h4>
  <p>Kafta is an online peer tutoring platform which connects College Tutors and College Students through video chat. The app allows students to find tutors for 1-on-1 tutoring for the subject they are struggling with.</p>

  <div class="w3-card-4" style="width:50%;">
    <header class="w3-container w3-blue">
      <h1>Students</h1>
    </header>

    <div class="w3-container">
      <ul>
        <li>Customized Learning</li>
        <li>Anytime, Anywhere</li>
        <li>Easy to find a Tutor</li>
        <li>Pay per Lesson</li>
      </ul>
    </div>
  </div>

  <div class="w3-card-4" style="width:50%;">
    <header class="w3-container w3-blue">
      <h1>Tutors</h1>
    </header>

    <div class="w3-container">
      <ul>
        <li>100% Online</li>
        <li>Improve by teaching</li>
        <li>Get paid to help</li>
        <li>Do some new friends</li>
      </ul>
    </div>
  </div>
  <br>
  <hr>
  <h4>Make sure your voice is heard</h4>
  <p>Leave reviews of tutors and let others know how much they helped you.</p>
  <h4>Scheduling done easy</h4>
  <p>Schedule appointments when you need them with ease, with our built-in booking feature. </p>
  <br>
  <hr>
  <h4>- Would you like to check the tutors?</h4>
  <a routerLink="/member" routerLinkActive="active">DO IT NOW!</a>
  <br><br>
  <h4>- Would you like to sign up?</h4>
  <a routerLink="/register-student" routerLinkActive="active">Click here to Register</a>
  <hr>
  <br>
