<div class="container">
  <h1 class="display-3" id="slogan">Contact Us</h1>
  <form [formGroup]="form" method="post" (ngSubmit)="onSubmit(form.value)">
      <label for="Email">Email</label>
      <input type="email" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

      <label for="fullname">Full Name</label>
      <input type="text" class="form-control" name="Fullname" placeholder="Full Name" formControlName="fullName">

      <label for="comment">Comment</label>
      <textarea class="form-control" formControlName="comment" name="Comment">
      </textarea>

    <button type="submit" class="m-1 btn btn-light btn-outline-primary" [disabled]="!form.valid">Submit</button>
  </form>

</div>

