<h4 class="text-center">Please note: this component will be integrated with authentication during a later sprint. It will also get the authenticated Admins only.</h4><br>

<div class="container">

  <h5 class="d-flex justify-content-center"> Choose one Registered User to Edit</h5>
  <br>
  <table class="table table-striped">
    <tbody>
        <tr *ngFor="let dataitem of UserList">
          <td ng-controller="SiblingOneCtrl as sib1" class="ng-scope">{{dataitem.UserId}}</td>
          <td>{{dataitem.LastName}}, {{dataitem.FirstName}}</td>
          <td>{{dataitem.email}}</td>
          <td>
            <!-- Condition to type users -->
            <div *ngIf="dataitem.isTutor == 1 && dataitem.isStudent == 0">Tutor</div>
            <div *ngIf="dataitem.isTutor == 0 && dataitem.isStudent == 1">Student</div>
            <div *ngIf="dataitem.isTutor == 0 && dataitem.isStudent == 0">Administrator</div>
          </td>
          <td>
            <!-- Edit Button -->
            <a class="nav-link" routerLink="/edit" routerLinkActive="active">Edit</a>
          </td>
  
        </tr>
    </tbody>
  
  </table>

</div>