<div class="row">
  <div class="col-md-8 offset-md-2">
    <br>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">User Registration [Tutor]</h5>
        <form class="col-md-12">
          <div class="row">
            <div class="col col-md-6">
              <input type="text" class="form-control" placeholder="Subject" name="Subject">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col col-md-12">
              <input type="email" class="form-control" placeholder="Information" name="Information">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col col-md-6">
              <input type="string" class="form-control" placeholder="Link" name="Link">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col col-md-6">
              <input type="string" class="form-control" placeholder="Price" name="Price">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col col-md-6">
              <input type="string" class="form-control" placeholder="Discount" name="Discount">
            </div>
          </div>
          <br>
          <div class="form-group">
            <label for="exampleFormControlFile1">Video</label>
            <input type="file" class="form-control-file" id="Photo">
          </div>
          <br>
          <button class="btn btn-primary">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
