@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

/*Colours go here*/
:root {
  --purple: #504769;
  --medium-purple: #6e6291;
  --light-purple: #8579a5;
}

html,
body {
  font-family: 'Raleway', sans-serif;
}

.bg-purple {
  background-color: var(--purple);
}

.btn-primary {
  background-color: var(--purple);
}

.btn-primary:not(:disabled).focus,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle, .btn-primary:focus {
  background-color: var(--medium-purple);
}

.btn-primary:hover {
  background-color: var(--light-purple);
}
