@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

/*Colours go here*/
:root {
  --purple: #504769;
  --light-purple: #8579a5;
}

html,
body {
  font-family: 'Raleway', sans-serif;
}

.bg-purple {
  background-color: var(--purple);
}